.blacklist-filters label {
    display: inline-block;
    margin-right: 6px;
}

.blacklist-filters input {
    width: 200px;
    margin-right: 6px;
}

.blacklist-filters button {
    margin-right: 24px;
}

.blacklist {
    margin: 14px 0 0 0;
    padding-left: 0;
    column-count: 5;
    column-gap: 20px;
    column-fill: auto;
}

.blacklist li {
    margin-bottom: 12px;
    list-style: none;
}

.blacklist a {
    margin-left: 12px;
}

.new-element {
    animation-name: change-color;
    animation-duration: 8s;
}

@keyframes change-color {
    from { color: green; }
    to   { color: black; }
}
