.cities-header {
    white-space: nowrap;
}

.cities-header li {
    display: inline-block;
    margin: 4px 4px 0 4px;
}

.cities-container {
    list-style-type: decimal;
}

.cities-container li {
    position: relative;
    white-space: nowrap;
}

.cities-header,
.cities-container {
    margin-left: 20px;
}

.cities-header li:nth-child(1),
.cities-header li:nth-child(2),
.cities-container select {
    width: 200px;
}

.cities-header li:nth-child(n+3),
.cities-container input {
    width: 110px;
}

.cities-container input {
    box-sizing: border-box;
}

.cities-container li:first-child .edit-time-extended,
.cities-container li:first-child input {
    visibility: hidden;
}

.cities-container .sort-handle-marker {
    position: absolute;
    top: 0;
    left: -22px;
    width: 24px;
    height: 24px;
    cursor: move;
}

.cities-container .sortable-ghost {
    background: #136a9f;
}

.cities-header li.header-item-longer {
    width: 198px;
}

.cities-header li.header-item-shorter,
.cities-container input.input-shorter {
    width: 80px;
    margin-right: 20px;
}

.edit-time-extended {
    display: inline-block;
    padding-right: 14px;
}

.edit-time-extended input {
    width: 40px;
    text-align: right;
}

#edit-field-sablon-marsruta-0-route,
#edit-field-sablon-tura-0-route {
    width: 1100px;
}

textarea[id*="-0-route-route"]  {
    display: none!important;
}