.btn-like-link {
    background: none;
    color: #0074bd;
    border: none;
    outline: none;
}

.btn-like-link:hover {
    text-decoration: underline;
}

.rules-list {
    list-style-type: none;
    padding: 0;
    margin-left: 0;
}

.rules-list li {
    margin: 6px auto;
}

.rules-list input,
.rules-list select {
    margin: 0 4px;
}

.time-element {
    display: inline-block;
    background-color: #136a9f;
    color: white;
    padding: 2px 10px;
    border-radius: 14px;
    margin-right: 6px;
    margin-bottom: 6px;
    cursor: default;
}