.date-rules input[name="every_nth_day"] {
    width: 36px;
}

.pickmeup .pmu-instance .permanent-date,
.pickmeup .pmu-instance .permanent-date:hover,
.pickmeup .pmu-instance .permanent-date.pmu-not-in-month {
    color: white;
    background-color: #d13030;
    cursor: default;
}

textarea[id*="-0-date-time-rules-date-rules"] {
    display: none!important;
}