.opened-routes-list-header {
    position: relative;
}

.opened-routes-list-header label {
    display: inline-block;
    margin-right: 6px;
}

.dialogue-box {
    width: 1200px;
    position: relative;
}

.opened-routes-list {
    list-style-type: none;
    margin-left: 0;
    padding-left: 20px;
    column-count: 3;
    column-gap: 20px;
    column-fill: auto;
    height: 475px;
}

.cancelled-route {
    color: red;
}

.completed-route {
    color: green;
}

.cancelled-route,
.opened-route {
    padding-right: 4px;
}

.date-element {
    padding-top: 10px;
}

.dialogue-box .easyPaginateNav {
    position: absolute;
    bottom: 20px;
    left: 30px;
}

.easyPaginateNav a {
    padding: 5px;
}

.easyPaginateNav a.current {
    font-weight: bold;
    text-decoration: underline;
}