.ride-thread .ride-thread__row:last-child .ride-thread__col_draw-line:after {
    display: none;
}

.ride-thread .ride-thread__date.ride-thread__order {
    display: block;
}

.select-route-date-datepicker .pmu-prev,
.select-route-date-datepicker .pmu-next {
    display: block!important;
}

.route-input {
    padding: 6px;
}

.select-route-date {
    width: 212px;
    padding: 8px;
    padding-left: 36px;
    background: none;
    border: 1px solid #aaa;
}

.times-container-wrap {
    position: relative;
}

.times-container-wrap:before {
    content: "";
    width: 20px;
    height: 20px;
    background: url(/themes/kurort/images/calendar.png);
    position: absolute;
    left: 10px;
    top: 79px;
    z-index: -1;
}

.times-container {
    list-style-type: none;
    padding: 0;
    margin-left: 0;
    margin-top: 6px;
}

.time-element a {
    color: white;
}

.time-element a:hover {
    color: white;
}

.times-container .time-element {
    background-color: white;
    color: #136a9f;
    cursor: pointer;
}

.times-container .time-element:hover {
    background-color: #9cc3d9;
    color: #136a9f;
    cursor: pointer;
}

.times-container .time-element.active,
.times-container .time-element.active:hover {
    background-color: #136a9f;
    color: white;
}

.passenger-data {
    margin-bottom: 14px;
    margin-right: 14px;
}

.btn-add-passenger {
    padding-left: 0;
}

.payment-type {
    font-weight: normal;
}

.payment-type input[type="radio"] {
    margin-right: 4px;
}

.h4.payment-info-subheading {
    margin-top: 18px;
    margin-bottom: 24px;
}

.ride-thread__col .btn-like-link {
    padding: 0 0 0 14px;
}

.passengers-data-form {
    margin-top: 30px;
}


/************************************ dialog widget ************************************/

.my-dialog {
    position: fixed;
    z-index: 2000;
}

.my-dialog.ui-widget-overlay {
    background: #000;
    opacity: .7;
}

.my-dialog .ui-dialog-titlebar-close {
    border: 0;
    background: none;
    outline: none;
}

.my-dialog .ui-dialog-titlebar-close:before {
    content: '×';
    display: inline-block;
    width: 100%;
    height: 100%;
    font-size: 2em;
    line-height: 0.5;
    opacity: .5;
}

.my-dialog .ui-dialog-titlebar-close:hover:before {
    opacity: .8;
}

.ui-widget {
    font-family: inherit;
}




/************************************ maps dialog stuff ************************************/

.dialogue-box-map {
    position: relative;
    margin: 0;
    padding: 0!important;
    overflow: hidden!important;
}

.dialogue-box-map .map {
    width: 100%;
    height: 100%;
}

.dialogue-box-map .stations-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.dialogue-box-map .stations-list li:hover,
.dialogue-box-map .stations-list li.hover {
    background-color: #29538E;
    color: white;
}




/************************************ adaptive maps stuff ************************************/

.dialogue-box-map .stations-list-container {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 70px;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
}

.dialogue-box-map .stations-list {
    white-space: nowrap;
}

.dialogue-box-map .stations-list-container + .map {
    padding-bottom: 70px;
}

.dialogue-box-map .stations-list-container li {
    padding: 14px;
    cursor: pointer;
    display: inline-block;
}

@media (min-width: 768px) {

    .dialogue-box-map .stations-list-container {
        width: 200px;
        height: 100%;
        top: 0;
        bottom: auto;
        left: 0;
        overflow-x: visible;
        overflow-y: auto;
    }

    .dialogue-box-map .stations-list-container + .map {
        padding-left: 200px;
        padding-bottom: 0;
    }

    .dialogue-box-map .stations-list-container li {
        display: block;
    }

    .dialogue-box-map .stations-list {
        white-space: normal;
    }

}



/************************************ station description ************************************/
.btn-station-additional-info {
    display: none;
    padding: 0;
    margin-left: 8px;
    vertical-align: top;
}

.dialog-box.container {
    overflow: hidden!important;
}

.dialog-box .row,
.dialog-box [class|='col-sm'] {
    height: 100%;
}

.dialog-box .row:first-child {
    margin-top: 0;
}

.station-map {
    width: 100%;
    height: 100%;
}

.station-photo {
    margin-bottom: 14px;
    max-width: 100%;
    max-height: 75%;
}

@media (max-width: 767px) {
    .station-map {
        padding-bottom: 40px;
    }
}

.btn-like-link.station-info-toggle-btn {
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 0;
    left: 0;
    font-family: inherit!important;
    background: white;
}

.btn-like-link.station-info-toggle-btn:hover {
    text-decoration: none;
}



/********************************* show order info buttton *********************************/
.side-panel {
    position: fixed;
    top: 50%;
    right: -146px;
    background: #29538E;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-right: 0;
    border-radius: 16px 0px 0px 16px;
    transition: right .3s, opacity .3s;
    transform: translateY(-50%);
    opacity: .8;
}

.side-panel:hover {
    right: 0;
    opacity: 1;
}

.side-panel a {
    padding: .6em;
    padding-left: 20px;
    text-decoration: none;
    display: block;
    color: white;
    width: 185px;
}

.side-panel a:first-child {
    padding-top: 1.2em;
}

.side-panel a:last-child {
    padding-bottom: 1.2em;
}

.side-panel a:hover,
.side-panel a:active,
.side-panel a:focus {
    color: white;
    text-decoration: underline;
}

.side-panel a:before {
    font-family: 'Glyphicons Halflings'; 
    display: inline-block;
    position: relative;
    top: 1px;
    left: -6px;
    margin-right: 6px;
}

.side-panel a.order-info:before {
    content: '\e003';
}

.side-panel a.login:before {
    content: '\e161';
}

.side-panel a.register:before {
    content: '\e008';
}

.side-panel a.register:after {
    content: '+';
    display: inline-block;
    width: 0;
    height: 0;
    overflow: visible;
    position: relative;
    top: 5px;
    left: -138px;
    text-shadow: -1px 0 #29538E, 0 1px #29538E, 1px 0 #29538E, 0 -1px #29538E;
    font-size: 1.2em;
    font-family: Arial, sans-serif;
}

.side-panel a.orders-list:before {
    content: '\e056';
}

.side-panel a.logout:before {
    content: '\e163';
}



/**************************************** order confirm **********************************************/

.order-confirm {
    margin-top: 12px;
    margin-bottom: 24px;
}

@media (min-width: 768px) {
    .order-confirm {
        min-height: 96px;
    }
}

.order-confirm .phone-select {
    width: 120px;
    padding: 6px;
    margin-right: 6px;
    margin-bottom: 6px;
}

.order-confirm .confirm-code {
    margin-right: 6px;
    margin-bottom: 6px;
    padding: 6px;
    width: 120px;
}

.order-confirm .btn:active,
.order-confirm .btn:focus {
    outline: none!important;
}

.order-confirm .fade {
    transition: opacity 0.15s linear;
}

.order-confirm .no-sms {
    padding-top: 4px;
}

div.important {
    position: relative;
    margin-top: 2em;
    margin-bottom: 1em;
}

.important:before {
    position: absolute;
    top: -6px;
    left: -36px;
    content: '\e101';
    display: inline-block;
    width: 30px;
    height: 30px;
    font-family: 'Glyphicons Halflings';
    color: #dd0000;
    font-size: 1.5em;
}



/**************************************** order notification **********************************************/

.order-notification .phone-select {
    width: 120px;
    padding: 6px;
    margin-right: 6px;
    margin-bottom: 6px;
}

.order-notification .alert {
    display: inline-block;
}



/**************************************** return after payment **********************************************/

.show-when-checking,
.show-when-confirmed,
.show-when-error {
    text-align: center;
    margin-top: -80px;
    border-radius: 4px;
}

.show-when-confirmed h3,
.show-when-error h3 {
    color: inherit;
    margin-top: 10px;
}

.show-when-checking:before {
    content: '';
    display: inline-block;
    width: 60px;
    height: 60px;
    border: 6px solid rgba(36, 72, 122, .5); /*#24487A*/
    border-left: 6px solid rgba(36, 72, 122, 1);
    border-radius: 50%;
    animation: load 1.4s infinite linear;
    transform: translateZ(0);
}

@keyframes load {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.show-when-error:before {
    content: '\e101';
    font-family: 'Glyphicons Halflings';
    font-size: 45px;
    display: inline-block;
    width: 60px;
    height: 60px;
    margin-top: 12px;
}

.show-when-confirmed:before {
    content: "\e013";
    font-family: 'Glyphicons Halflings';
    font-size: 45px;
    display: inline-block;
    width: 60px;
    height: 60px;
    margin-top: 12px;
}

.show-when-confirmed .order-notification {
    color: #444;
    margin-top: -10px;
    padding-bottom: 20px;
}
