.order-info .status-text {
    font-weight: bold;
}

.order-info h4 {
    display: inline-block;
}

.order-info .panel-heading div {
    margin-top: 10px;
}

.order-info .panel-heading div>* {
    padding-right: 12px;
}

.order-info .panel-heading div>:last-child {
    padding-right: 0;
}

.order-info .panel-heading .alert-link,
.order-info .panel-heading .alert-link:hover,
.order-info .panel-heading .alert-link:focus,
.order-info .panel-heading .alert-link:active {
    color: #a94442;
}

.order-info .panel-heading form {
    display: inline-block;
}

.order-info .panel-heading form input {
    padding: 0;
}