.mobile-number-field > label,
.mobile-number-field > .form-item-field-telefon-0-mobile {
    display: none!important;
}

.mobile-number-field div.verified {
    background: none;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    line-height: 20px;
    padding: 15px;
    border-radius: 4px;
}

.mobile-number-field div.verified span {
    color: #3c763d;
}