.stats-filters label {
    display: inline-block;
    margin-right: 6px;
}

.stats-filters select {
    width: 200px;
}

.stats-filters input,
.stats-filters select {
    padding: 6px;
}

.stats-filters .chosen-container {
    padding: 6px;
    font-size: 1em;
    border-radius: 0;
}

.stats-filters .chosen-container-single .chosen-single span {
    color: black;
}

.stats-filters .chosen-container.chosen-with-drop .chosen-drop {
    margin-left: 0;
}

.stats-result {
    width: auto;
}

.stats-result .date-time {
    width: 135px;
}

.stats-result .id {
    width: 90px;
}

.stats-result .name {
    width: auto;
}

.stats-result .sold {
    width: 120px;
}

.stats-result .earnings {
    width: 80px;
}

.stats-result th,
.stats-result td {
    padding: 4px;
}

button.disabled {
    cursor: default;
    opacity: 0.65;
    box-shadow: none;
}

.stats-result .date-time,
.stats-result .name {
    cursor: pointer;
}