.time-rules input[name="every_n_minutes"] {
    width: 36px;
}

.time-rules input[name="begin_time"],
.time-rules input[name="end_time"] {
    width: 45px;
}

.times-container {
    list-style-type: none;
    padding: 0;
    margin-left: 0;
}

textarea[id*="-0-date-time-rules-time-rules"]  {
    display: none!important;
}