<div class="blacklist-filters">
    <label for="addData">Добавить новый телефон:</label>
    <input type="text" id="addData">
    <button type="button" id="btnAddToBlacklist">Добавить</button>
    <label for="searchData">Найти телефон:</label>
    <input type="text" id="searchData" placeholder="Введите номер или его часть">
    <button type="button" id="btnSearchBlacklist">Найти</button>
    <button type="button" id="btnReset">Показать все</button>
</div>
<ul id="blacklist" class="blacklist">
</ul>
