 {% for order in orders if order.status == 2 or order.status == 3 or order.status == 4 %}
     <div>
         <h4>Заказ №{{order.id}}</h4>
         {% if order.status == 2 %}
             <b>Оплачено картой</b>
         {% elseif order.status == 4 %}
             <b>Оплата при посадке</b>
         {% endif %}
         <br>
         {% if order.route_type == 'mezdugorodnii_reis' %}
             <b>Отправление:</b>
             {{order.route|first.city_name}}
             {{order.route|first.station_name}}
             <br>
             <b>Прибытие:</b>
             {{order.route|last.city_name}}
             {{order.route|last.station_name}}
             <br>
         {% endif %}
         <b>Телефоны:</b><br>
         <ul>
             {% for phone in order.phones %}
                 <li>{{phone}}</li>
             {% endfor %}
         </ul>
         <br>
     </div>
 {% else %}
     <p>На этот рейс билеты не куплены</p>
 {% endfor %}