<div class="stats-filters">
    <label>От: <input type="date" name="begin_date"></label>
    <label>До: <input type="date" name="end_date"></label>
    <label>Тип: 
        <select name="type">
            <option value="all">Все</option>
            <option value="mezdugorodnii_reis">Междугородний рейс</option>
            <option value="ekskursia">Экскурсия</option>
            <option value="tur">Тур</option>
        </select>
    </label>
    <label>Название: 
        <select name="route_id" id="routeName">
            <option value="0">Все</option>
        </select>
    </label>
    <button type="button" id="btnShowStats">Показать</button>
</div>
<table id="statsResult" class="stats-result">
    <tr>
        <th class="date-time">Дата и время</th>
        <th class="id">ID рейса</th>
        <th class="name">Название маршрута</th>
        <th class="sold">Продано билетов</th>
        <th class="earnings">Продано на сумму, руб</th>
    </tr>
</table>
