<h4>Проверьте данные заказа</h4>

{% if route.type == 'mezdugorodnii_reis' %}
    <p><b>Маршрут:</b> {{route.name}}</p>
    <p><b>Отправление:</b>
        {{route.route|first.departure_date_time|date("d.m.Y в H:i")}},
        {{route.route|first.city_name}}
        {{route.route|first.station_name}}
        <button
            type="button"
            class="btn-like-link btn-station-additional-info"
            data-station-id="{{route.route|first.station_id|default(route.route|first.city_id)}}"
        >
            Подробнее
        </button>
    </p>
    <p><b>Прибытие:</b>
        {{route.route|last.arrival_date_time|date("d.m.Y в H:i")}},
        {{route.route|last.city_name}}
        {{route.route|last.station_name}}
        <button
            type="button"
            class="btn-like-link btn-station-additional-info"
            data-station-id="{{route.route|last.station_id|default(route.route|last.city_id)}}"
        >
            Подробнее
        </button>
    </p>
    <p><b>Время отправления и прибытия местное</b></p>
{% elseif route.type == 'ekskursia' %}
    <p><b>Экскурсия:</b> {{route.name}}</p>
    <p><b>Начало:</b> {{route.route|first.departure_date_time|date("d.m.Y в H:i")}}, {{route.route|first.city_name}} {{route.route|first.station_name}}</p>
{% elseif route.type == 'tur' %}
    <p><b>Тур:</b> {{route.name}}</p>
    <p><b>Отправление:</b> {{route.route|first.departure_date_time|date("d.m.Y в H:i")}}, {{route.route|first.city_name}} {{route.route|first.station_name}}</p>
    <p><b>Прибытие:</b> {{route.route|last.arrival_date_time|date("d.m.Y в H:i")}}, {{route.route|last.city_name}} {{route.route|last.station_name}}</p>
{% endif %}

<p>
    <b>Телефоны:</b> 
    <ul>
        {% for phone in book_info.phones %}
            <li>{{phone}}</li>
        {% endfor %}
    </ul>
</p>

<p><b>К оплате:</b> {{book_info.price}} ₽</p>

{% if book_info.payment_type == 'cash' %}
    {% if user.id != 0 %}
        <p><b>Оплата наличными при посадке</b></p>
        <br>
        <a href="/user">Перейти к моим заказам</a><br>
        Информация о заказе также была выслана на адрес {{user.email}} 
        {% if book_info.phones|length == 1 %}
            и на номер {{ book_info.phones[0] }}
        {% endif %}
        <br>
        {% include '@i1/purchase/order-notification.html.twig' with { 'order': book_info } only %}
    {% else %}
        <p><b>Оплата наличными при посадке</b></p>
        <div class="h4 important">
            Подтвердите заказ<br>
            <small>Подтвердите номер в течение 10 минут</small>
        </div>
        {% include '@i1/purchase/order-confirmation.html.twig' with { 'order': book_info } only %}
    {% endif %}
{% else %}
<br>
<div class="h4 payment-info-subheading">Необходимо оплатить заказ в течение 30 минут</div>
<form action="/purchase" method="POST">
    <input type="hidden" value="{{book_info.id}}" name="booking_id">
    <input type="submit" value="Оплатить заказ" class="btn btn-primary">
</form>
{% endif %}
{% include 'station-additional-info.html.twig' %}