{% if order.phones|length == 1 %}
    <div class="hidden">
{% endif %}

<div id="orderNotification" class="order-notification hidden" data-order-id="{{ order.id }}" data-order-hash="{{ order.hash }}">
    {% if order.deferred %}
        <div id="deferred"></div>
    {% endif %}
    <p>Выберите номер телефона для получения SMS с информацией о заказе:</p>
    <select name="phone" class="phone-select">
        {% for phone in order.phones %}
            <option value="{{ loop.index0 }}">{{ phone }}</option>
        {% endfor %}
    </select>
    <button type="button" class="btn btn-primary">Выбрать</button>
    <br>
</div>

{% if order.phones|length == 1 %}
    </div>
{% endif %}