<div class="order-confirm" data-order-id="{{ order.id }}" data-order-hash="{{ order.hash }}">
    {% if order.phones|length > 1 %}
        <div class="step-1">
            <p>Выберите номер телефона для получения SMS:</p>
            <select name="phone" class="phone-select">
                {% for phone in order.phones %}
                    <option value="{{ loop.index0 }}">{{ phone }}</option>
                {% endfor %}
            </select>
            <button type="button" class="btn btn-primary">Выбрать</button>
        </div>
    {% endif %}

    <div class="step-2 {% if order.phones|length > 1 %} hidden {% endif %}">
        {% if order.phones|length > 1 %}
            <p>Введите <b>код подтверждения</b> из SMS:</p>
        {% else %}
            <p>Введите <b>код подтверждения</b> из SMS, отправленного на номер {{ order.phones[0] }}</p>
        {% endif %}
        <input type="text" class="confirm-code" placeholder="5 цифр">
        <button type="button" class="btn btn-primary">Подтвердить</button>
        {% if order.phones|length > 1 %}
            <button type="button" class="btn btn-link btnChooseAnother">Выбрать другой номер</button>
        {% endif %}
        <div class="no-sms small hidden">
            Не приходит SMS? <button type="button" class="btn-like-link btnSendAgain">Отправить SMS ещё раз</button>
        </div>
    </div>

    <div class="alert alert-danger sms-error hidden" role="alert">
        Произошла ошибка. <button type="button" class="btn-like-link btnSendAgain">Отправить SMS ещё раз</button>
    </div>
</div>