<div class="show-when-checking">
    <h3>Идёт проверка оплаты заказа, это может занять некоторое время</h3>
</div>
<div class="hidden show-when-confirmed text-success bg-success">
    <h3>Заказ успешно оплачен<br>
    {% if anonymous %}
    <small>Вы всегда можете посмотреть информацию о Вашем заказе <a href="/order-info">на этой странице</a></small>
    {% else %}
    <small>Вы всегда можете посмотреть информацию о Вашем заказе <a href="/user">в личном кабинете</a></small>
    {% endif %}
    </h3>
    {% include '@i1/purchase/order-notification.html.twig' with { 'order': order } only %}
</div>
<div class="hidden show-when-error text-danger bg-danger">
    <h3>Произошла ошибка при оплате<br>
        <small>Для решения проблемы свяжитесь с администратором</small>
    </h3>
</div>
<div class="order-info">
    {% include 'order.html.twig' with { 'order': order } only %}
</div>
{% include 'station-additional-info.html.twig' %}
<style>
    h1 {
        display: none;
        visibility: hidden;
    }
</style>
