{% include 'route--absolute-time.html.twig' with { 'route': route.route, 'route_type': route.type } only %}
{% if route.type == 'ekskursia' %}
    <p><b>Начало:</b> {{route.route|first.departure_date_time|date("d.m.Y в H:i")}}, {{route.route|first.city_name}} {{route.route|first.station_name}}</p>
{% endif %}
<form action="/booking" method="POST" id="passengers-data" class="passengers-data-form">
    <h4>Выберите способ оплаты</h4>
    <label class="payment-type"><input type="radio" name="payment_type" value="instant" checked>Оплата картой</label><br>
    <label class="payment-type"><input type="radio" name="payment_type" value="cash">Оплата наличными при посадке</label>
    <h3>Данные пассажиров</h3>

    <input type="hidden" name="route_id" value="{{route.id}}">
    <input type="hidden" name="from_id" value="{{route.from_id}}">
    <input type="hidden" name="to_id" value="{{route.to_id}}">

    {% if prev_phones %}
        <div class="alert alert-danger">
            {% for phone in prev_phones if not phone.is_valid %}
                <p>Это не похоже на номер телефона: {{phone.phone}}</p>
            {% endfor %}
        </div>
    {% endif %}
    
    <div>
        <label for="phone">Телефоны</label><br>
        {% if prev_phones %}
            {% for phone in prev_phones %}
                <div>
                    <input
                        class="route-input passenger-data"
                        type="tel"
                        name="phones[]"
                        placeholder="в любом формате"
                        required
                        value="{{phone.phone}}">
                    {% if not loop.first %}
                        <button class='btn-like-link btnRemovePassenger' type='button' tabindex="-1">Удалить</button>
                    {% endif %}
                </div>
            {% endfor %}
        {% else %}
            <div>
                <input
                    class="route-input passenger-data"
                    type="tel"
                    name="phones[]"
                    placeholder="в любом формате"
                    required
                    value="{{user.phone}}">
            </div>
        {% endif %}
        <button
            type="button"
            class="btn-like-link btn-add-passenger"
            id="btn-add-passenger"
            tabindex="-1"
            data-max-passengers="{{route.max_passengers}}">
            Добавить пассажира
        </button><br>
    </div><br>

    <div>
        <input type="checkbox" name="terms" id="terms" required>
        <label for="terms">Я ознакомлен с <a href="/node/38">пользовательским соглашением</a></label>
    </div><br>
    
    <input type="submit" value="Забронировать" class="btn btn-primary">
</form>