{% include 'order.html.twig' with { 'order': order } only %}
<form action="/cancel/{{order.id}}" method="POST">
    <input type="submit" value="Отменить заказ" class="btn btn-danger">
    <button type="button" class="btn btn-like-link" onclick="history.go(-1);">Вернуться назад</button>
</form>