{% if orders %}
    <div class="order-info">
        {% for order in orders %}
            {% include 'order.html.twig' with { 'order': order } only %}
        {% endfor %}
    </div>
{% elseif not is_valid %}
    <p class="alert alert-danger">Это не похоже на номер телефона: {{ phone }}</p>
    {% include 'order-info-form.html.twig' %}
{% else %}
    <p class="alert alert-danger">Заказ не найден</p>
    {% include 'order-info-form.html.twig' %}
{% endif %}
{% include 'station-additional-info.html.twig' %}
