<form action="" method="POST">
    <label for="orderPhone">Телефон одного из пассажиров:</label><br>
    <input type="tel" name="phone" id="orderPhone" placeholder="в любом формате" class="route-input passenger-data" required><br>
    <label for="orderDate">Дата поездки</label><br>
    <input type="date" name="date" id="orderDate" class="route-input passenger-data" required><br>
    <input type="submit" value="Найти заказ" class="btn btn-primary">
</form><br>
<p><a href="/user/register">Зарегистрируйтесь</a>, и вы сможете просматривать все ваши заказы на одной странице</p>
<p>Уже есть учётная запись? <a href="/user/login">Войти</a></p>