<div class="panel panel-default" id="order-id-{{order.id}}">
    <div class="panel-body">
        <div class="panel-heading">
            <h4>{{order.route_name}}</h4>
            {% if not order.hide_controls %}
            <div class="visible-xs-inline-block visible-sm-inline-block visible-md-inline-block visible-lg-inline-block pull-right">
                {% if order.status == 0 %}
                    <span class="status-text text-danger">Отменён</span>
                {% elseif order.status == 1 %}
                    <span class="status-text text-info">Ожидается оплата</span>
                    <form action="/purchase" method="POST">
                        <input type="hidden" value="{{order.id}}" name="booking_id">
                        <input type="submit" value="Оплатить заказ" class="btn-like-link">
                    </form>
                    <a href="/cancel/{{order.id}}" class="alert-link">Отменить заказ</a>
                {% elseif order.status == 2 %}
                    <span class="status-text text-success hidden-print">Оплачен</span>
                    <a id="btn-print-order-{{order.id}}" href="#" class="hidden-print">Распечатать</a>
                    <a href="/cancel/{{order.id}}" class="alert-link hidden-print">Отменить заказ</a>
                {% elseif order.status == 3 %}
                    <span class="status-text text-success">Выполнен</span>
                {% elseif order.status == 4 %}
                    <span class="status-text text-success hidden-print">Оплата наличными при посадке</span>
                    <a id="btn-print-order-{{order.id}}" href="#" class="hidden-print">Распечатать</a>
                    <a href="/cancel/{{order.id}}" class="alert-link hidden-print">Отменить заказ</a>
                {% elseif order.status == 5 %}
                    <span class="status-text text-info hidden-print">Ожидается подтверждение</span>
                    <a href="/cancel/{{order.id}}" class="alert-link">Отменить заказ</a>
                {% endif %}
            </div>
            {% endif %}
        </div>
        <div class="panel-body">
            {% if order.status == 5 and not order.hide_controls %}
                {% include '@i1/purchase/order-confirmation.html.twig' with { 'order': order } only %}
            {% endif %}
            <b>Заказ №{{order.id}}</b><br>
            {% if order.route_type == 'mezdugorodnii_reis' %}
                <b>Отправление:</b>
                {{order.route|first.departure_date_time|date("d.m.Y в H:i")}},
                {{order.route|first.city_name}}
                {{order.route|first.station_name}}
                <button
                    type="button"
                    class="btn-like-link btn-station-additional-info"
                    data-station-id="{{order.route|first.station_id|default(order.route|first.city_id)}}"
                >
                    Подробнее
                </button>
                <br>
                <b>Прибытие:</b>
                {{order.route|last.arrival_date_time|date("d.m.Y в H:i")}},
                {{order.route|last.city_name}}
                {{order.route|last.station_name}}
                <button
                    type="button"
                    class="btn-like-link btn-station-additional-info"
                    data-station-id="{{order.route|last.station_id|default(order.route|last.city_id)}}"
                >
                    Подробнее
                </button>
                <br>
                <b>Время отправления и прибытия местное</b><br>
            {% elseif order.route_type == 'ekskursia' %}
                <b>Начало:</b> {{order.route|first.departure_date_time|date("d.m.Y в H:i")}}, {{order.route|first.city_name}} {{order.route|first.station_name}}<br>
            {% elseif order.route_type == 'tur' %}
                <b>Отправление:</b> {{order.route|first.departure_date_time|date("d.m.Y в H:i")}}, {{order.route|first.city_name}} {{order.route|first.station_name}}<br>
                <b>Прибытие:</b> {{order.route|last.arrival_date_time|date("d.m.Y в H:i")}}, {{order.route|last.city_name}} {{order.route|last.station_name}}<br>
            {% endif %}
            <b>Телефоны:</b><br>
            <ul>
                {% for phone in order.phones %}
                    <li>{{phone}}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
