<table class="ride-thread ">
    <tbody>
    {% for r in route %}
        <tr class="ride-thread__row">
            <td class="ride-thread__col ride-thread__col_time ride-thread__col_draw-line">
            </td>
            <td class="ride-thread__col">
                <div class="ride-thread__title">
                    {% if route_type == 'ekskursia' %}
                        {{r.station_name}}
                    {% else %}
                        {{r.city_name}}
                    {% endif %}
                </div>
                <div class="ride-thread__subtitle">
                    {% if r.station_name != "" and route_type != 'ekskursia' %}
                        {{r.station_name}}
                    {% endif %}
                </div>
            </td>
        </tr>
        {# 
        r.time_after_prev_days
        r.time_after_prev_hours
        r.time_after_prev_minutes
        r.stop_time_days
        r.stop_time_hours
        r.stop_time_minutes
         #}
    {% endfor %}
    </tbody>
</table>