<div class="route-pattern">
    <div class="field--label">Маршрут</div>
    {% include 'route--relative-time.html.twig' with { 'route': route, 'route_type': route_type } only %}

    <div class="times-container-wrap hidden">
        <h3>Выберите дату и время</h3>
        <input type="text" class="select-route-date route-input">
        <ul class="times-container hidden">
        {% for t in timetable if t.status == '1' %}
            <li class="time-element" data-date="{{t.route_date_time|date('Y-m-d')}}" data-route-id="{{t.id}}">
                {{t.route_date_time|date('H:i')}}
            </li>
        {% endfor %}
        </ul>
        <a id="buyTicket" href="#" class="btn btn-primary">Заказать билет</a>
    </div>

    {#
    {% if route_pattern_history %}
        <div class="field--label">История рейсов</div>
        <ul class="opened-routes-list" id="opened-routes">
            {% include 'sale-opened-list.html.twig' with { 'result': route_pattern_history, 'history': TRUE } only %}
        </ul>
    {% endif %}
     #}
</div>