{% if route_type == 'mezdugorodnii_reis' %}
    <p>Время отправления и прибытия местное</p>
{% endif %}
<table
    {% if route_type == 'mezdugorodnii_reis' %}
        class="ride-thread cities-select"
    {% else %}
        class="ride-thread"
    {% endif %}
>
    <tbody>
    {% set prev_date = '.' %}
    {% set prev_time = '.' %}
    {% set departure_city = route|first.city_name %}
    {% for r in route %}
        <tr
            class="ride-thread__row"
            {% if route_type == 'mezdugorodnii_reis' %}
                data-city-id="{{r.city_id}}"
                {% if r.station_id %}
                    data-station-id="{{r.station_id}}"
                {% endif %}
                {% if r.coords %}
                    data-latitude="{{r.coords.latitude}}"
                    data-longitude="{{r.coords.longitude}}"
                {% endif %}
            {% endif %}
        >
            <td class="ride-thread__col ride-thread__col_time ride-thread__col_draw-line">
                {% if r.arrival_time != prev_time and route_type == 'mezdugorodnii_reis' %}
                    <div class="ride-thread__time">
                        {% if r.city_name == departure_city %}
                            {{r.departure_time}}
                        {% else %}
                            {{r.arrival_time}}
                        {% endif %}
                    </div>
                {% endif %}
                {% if r.arrival_date != prev_date and route_type == 'mezdugorodnii_reis' %}
                    <div class="ride-thread__date ride-thread__order">{{r.arrival_date}}</div>
                {% endif %}
            </td>
            <td class="ride-thread__col">
                <div class="ride-thread__title">
                    {% if route_type == 'ekskursia' %}
                        {{r.station_name}}
                    {% else %}
                        {{r.city_name}}
                    {% endif %}
                </div>
                <div class="ride-thread__subtitle">
                    {% if r.station_name != "" and route_type != 'ekskursia' %}
                        {{r.station_name}}
                    {% endif %}
                </div>
            </td>
        </tr>
        {% set prev_date = r.arrival_date %}
        {% set prev_time = r.arrival_time %}
    {% endfor %}
    </tbody>
</table>

{% if route_type == 'mezdugorodnii_reis' %}
    <div class="dialogue-box dialogue-box-map" id="dptDialog" title="Пункт отправления">
        <div class="map" id="dptMap"></div>
    </div>
    <div class="dialogue-box dialogue-box-map" id="arlDialog" title="Пункт прибытия">
        <div class="map" id="arlMap"></div>
    </div>
{% endif %}