{% set counter = -1 %}
{% for key, date in result %}
    {% set counter = counter + 1 %}

    {# Если дата попадает на последнее место колонки/страницы, переносим её на след. колонку/страницу #}
    {% if (counter + 1) % 45 == 0 or (counter + 1) % 15 == 0 %}
        <li class="date-element">&nbsp;</li>
        {% set counter = counter + 1 %}
    {% endif %}
    <li class="date-element">{{key}}</li>
    {% for r in date %}
        {% set counter = counter + 1 %}
        {# В начале каждой страницы ставим текущую дату #}
        {% if counter % 45 == 0 %}
            <li class="date-element">{{key}}</li>
            {% set counter = counter + 1 %}
        {% endif %}
        <li>
            <span class="time-element">{{r.time}}</span>
            {% if r.status == 0 %}
                <span class="cancelled-route">Отменён</span>
                {% if not history %}
                    <a href="/routes/open/{{r.id}}">Открыть рейс</a>
                {% endif %}
            {% elseif r.status == 1 %}
                <span class="opened-route">Открыт, билетов продано: {{r.tickets_sold}}</span>
                {% if r.tickets_sold == 0 and not history %}
                    <a href="/routes/cancel/{{r.id}}">Отменить рейс</a>
                {% endif %}
            {% elseif r.status == 2 %}
                <span class="completed-route">Выполнен, билетов продано: {{r.tickets_sold}}</span>
            {% endif %}
        </li>
    {% endfor %}
{% endfor %}