{% if result %}
    <div class="opened-routes-list-header">
        <label>Рейсы в продаже</label>
        <button class="btn-like-link" id="opener">Показать информацию</button>
    </div>
    <div class="dialogue-box" id="dialog" title="Рейсы в продаже">
        <a id="refresh" href="/routes/opened/{{node_id}}">Обновить информацию</a>
        <ul class="opened-routes-list" id="opened-routes">
            {% include 'sale-opened-list.html.twig' %}
        </ul>        
    </div>
{% endif %}