<div class="dialog-box container" id="stationInfoDialog" title="Дополнительная информация">
    <div class="row">
        <div class="col-sm-6" id="mapContainer">
            <div class="station-map" id="stationMap"></div>
        </div>
        <div class="col-sm-6" id="descriptionContainer">
            <img class="station-photo">
            <div class="station-description"></div>
        </div>
        <button type="button" class="station-info-toggle-btn btn-like-link visible-xs">Показать описание</button>
    </div>
</div>