<h3>Мои заказы</h3>
<article{{ attributes.addClass('profile order-info') }}>
    {% if user.orders %}
        {% for order in user.orders %}
            {% include 'order.html.twig' with { 'order': order } only %}
        {% endfor %}
    {% else %}
        <div>Список заказов пуст</div>
    {% endif %}
</article>
{% include 'station-additional-info.html.twig' %}